        [Desktop Entry]

        # The type of the thing this desktop file refers to (e.g. can be Link)
        Type=Application

        # The application name.
        Name=biere

        # Tooltip comment to show in menus.
        Comment=Logiciel de brassage 

        # The path (folder) in which the executable is run
        # quand on a fait la copie de main, c'était dans un dossier biere
        Path=/opt/biere

        # The executable (can include arguments)
        Exec=/opt/biere/biere

        # The icon for the entry, using the name from `hicolor/scalable` without the extension.
        # You can also use a full path to a file in /opt.
        Icon=biere-64x64.png
